.header{
  padding-top: 20px;
  .navbar{
    
    .navbar-brand{
       .header_logo{
    img{
      width: 60px;
    }
  }
    }
    .nav-link{
      font-family: arcadeclassic;
      color: #fff;
      font-weight: 500;
      padding: 0px 34px;
      font-size: 28px;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;

       &:hover{
        color: #fff;
       }
       span{
        font-size: 22px;
       }
    }
    .navbar-collapse{
      .bear_connectWallet_btn{
        button{
          border: none;
          background: rgb(1 159 233);
          border-radius: 5px;
          margin-right: -80px;
          padding: 7px 35px;
          color: #fff;
          font-size: 27px;
          font-family: arcadeclassic;
          box-shadow: 0px 12px 10px 0px #4e5051;
        }
      }
    }
  }
}